$softred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkdesaturatcyan: hsl(168, 45%, 32%);
$darkblue: hsl(198, 62%, 26%);
$darkmoderatecyan: hsl(168, 34%, 41%);
$lightcyan: rgba(144, 212, 197, 1);

// NEUTRAL
$verydarkdesaturateblue: hsl(212, 27%, 19%);
$verydarkgrayishblue: hsl(213, 9%, 39%);
$darkgrayishblue: hsl(232, 10%, 55%);
$grayishblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$transparentwhite: hsla(0, 0%, 100%, 0.37);
// FONTS
$sansserif: 'Barlow',
sans-serif;
$serif: 'Fraunces',
serif;
$mediumboldbarlow: 500;
$semiboldbarlow: 600;
$boldbarlow: 900;
$bolddfraunces: 700;
$blackfraunces: 900;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $sansserif;
    font-size: 18px;
    font-weight: $semiboldbarlow;
}

.heading {
    font-family: $serif;
    font-weight: $blackfraunces;
}

header {
    position: relative;

    .nav-toggle {
        display: none;
    }

    .nav-toggle:checked~div {
        display: block;
    }

    .nav-mobile {
        position: relative;

        @media (min-width:899px) {
            display: none;
        }

        .hamburger-icon {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1.7em 1.39em 0 0;
            cursor: pointer;
        }

        .bg-mobile {
            display: none;
            position: relative;
            top: -1em;
        }

        .nav-list {
            width: 88%;
            height: 310px;
            background: $white;
            position: absolute;
            top: 6em;
            left: 0;
            right: 0;
            z-index: 2;
            margin: 0 auto;
            list-style: none;
            text-align: center;

            .p1 {
                margin: 0.5em 0 0 0;
                padding-top: 1em;
            }

            .p2 {
                padding: 0.85em 0 4em 0;
            }

            .nav-item {
                line-height: 3;
            }

            .nav-link {
                color: $verydarkgrayishblue;
                text-decoration: none;
                font-size: 1.2rem;
            }

            .cta {
                padding: 1.25em 2em;
                font-size: 0.95rem;
                color: black;
                border-radius: 3em;
                background: $yellow;
                font-family: $serif;
                text-transform: uppercase;
            }
        }

        .nav-list::after {
            content: '';
            position: absolute;
            top: -1.5em;
            right: 0;
            border: 1.5em solid transparent;
            border-right-color: $white;
        }
    }

    .logo {
        position: absolute;
        padding: 2em 0 0 1.39em;
        cursor: pointer;

        @media (min-width:750px) {
            padding: 3em 0 0 2em;
        }
    }

    .h1 {
        color: $white;
        position: absolute;
        font-size: 2.4rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.2em;
        left: 0;
        right: 0;
        margin: 3.7em auto 0 auto;

        @media (min-width:490px) and (max-width:600px) {
            margin: 6em auto 0 auto;

        }

        @media (min-width:601px) and (max-width:756px) {
            margin: 8em auto 0 auto;

        }

        @media (min-width:758px) and (max-width:890px) {
            margin: 8em auto 0 auto;
            font-weight: $blackfraunces;
        }

        @media (min-width:900px) and (max-width:1189px) {
            margin: 6em auto 0 auto;
            font-size: 2rem;
        }

        @media (min-width:1190px) and (max-width:1440px) {
            margin: 5em auto 0 auto;
            font-size: 3rem;
        }
    }

    .arrow-down {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 16em auto 0 auto;

        @media (min-width:404px) and (max-width:422px) {
            margin: 17em auto 0 auto;
        }

        @media (min-width:423px) and (max-width:460px) {
            margin: 18em auto 0 auto;
        }

        @media (min-width:461px) and (max-width:500px) {
            margin: 20em auto 0 auto;
        }

        @media (min-width:500px) and (max-width:570px) {
            margin: 24em auto 0 auto;
        }

        @media (min-width:571px) and (max-width:650px) {
            margin: 28em auto 0 auto;
        }

        @media (min-width:651px) and (max-width:740px) {
            margin: 32em auto 0 auto;
        }

        @media (min-width:741px) and (max-width:800px) {
            margin: 35em auto 0 auto;
        }

        @media (min-width:801px) and (max-width:880px) {
            margin: 39em auto 0 auto;
        }

        @media (min-width:880px) and (max-width:899px) {
            margin: 42em auto 0 auto;
        }

        @media (min-width:900px) and (max-width:950px) {
            margin: 19em auto 0 auto;
        }

        @media (min-width:1300px) {
            margin: 19em auto 0 auto;
        }
    }

    .header-img-mobile {
        width: 100%;
        display: block;

        @media (min-width:899px) {
            display: none;
        }
    }

    .nav {
        position: relative;
        display: none;

        @media(min-width:899px) {
            display: block;
        }

        .nav-list {
            position: absolute;
            display: flex;
            top: 0;
            right: 0;
            column-gap: 3em;
            list-style: none;
            padding: 3em 2em 0 0;

            .navlink {
                text-decoration: none;
                color: $white;
            }

            .cta {
                padding: 1.2em 2em;
                font-size: 0.87rem;
                color: $verydarkdesaturateblue;
                border-radius: 3em;
                background: $white;
                font-family: $serif;
                text-transform: uppercase;

                &:hover {
                    background: $transparentwhite;
                    color: $white;
                }
            }
        }
    }

    .header-img {
        width: 100%;
        display: block;

        @media (max-width:899px) {

            display: none;
        }
    }
}

.transform,
.standout,
.graphic-design,
.photography {
    .desktop {
        display: none;
    }
}

.transform,
.standout,
.graphic-design,
.photography {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

    img {
        display: block;
    }

    .w {
        width: 100%;
    }

    .mw {
        max-width: 100%;
    }
}

.container {

    @media (min-width:751px) {
        .w {
            width: 50%;
        }

        .mobile {
            display: none;
        }

        .desktop {
            display: block;
        }

        .wrappertwo {
            padding: 0 4em;

            .h2 {
                font-size: 1.4rem;
            }

            .para {
                font-size: 0.5rem;
            }
        }
    }

    .transform {
        flex-direction: column-reverse;

        @media (min-width:751px) {
            flex-direction: row;
        }
    }

    .standout {
        @media (min-width:751px) {
            flex-direction: row;
        }
    }

    .h2 {
        color: $verydarkdesaturateblue;
        font-size: 2rem;
    }

    .para {
        color: $darkgrayishblue;
        font-weight: $mediumboldbarlow;
        margin: 1.9em 0.3em;
        line-height: 1.5;
    }

    .wrapperone {
        text-align: center;

        @media (min-width:751px) {
            text-align: left;
        }
    }

    .wrappertwo {
        padding: 3em 1.1em;

        @media (min-width:485px) and (max-width:599px) {
            padding: 5em 1.5em;
        }

        @media (min-width:600px) and (max-width:750px) {
            padding: 6em 1.7em;
        }

        @media (min-width:751px) {
            padding: 0 4em;

            .h2 {
                font-size: 1.4rem;
            }

            .para {
                font-size: 0.7rem;
            }

            .lmone-link,
            .lmtwo-link {
                font-size: 0.5rem;
            }
        }

        @media (min-width:850px) {

            padding: 0 4em;

            .h2 {
                font-size: 2rem;
            }

            .para {
                font-size: 1rem;
            }

            .lmone-link,
            .lmtwo-link {
                font-size: 0.9rem;
            }
        }

        @media (min-width:900px) {
            padding: 3em;
        }

        @media (min-width:1200px) {

            padding: 3em 7em;

            .h2 {
                font-size: 2.5rem;
            }

            .para {
                font-size: 1.2rem;
            }

            .lmone-link,
            .lmtwo-link {
                font-size: 1rem;
            }
        }
    }

    .lmone-link {
        text-decoration: none;
        color: $verydarkdesaturateblue;
        text-transform: uppercase;
        font-family: $serif;
        font-size: 1rem;
        font-weight: $blackfraunces;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 113%;
            height: 0.6em;
            top: 0.8em;
            left: -0.40em;
            background-color: $yellow;
            border-radius: 1em;
            opacity: 0.32;
            z-index: -1;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    .lmtwo-link {
        text-decoration: none;
        color: $verydarkdesaturateblue;
        text-transform: uppercase;
        font-family: $serif;
        font-size: 1rem;
        font-weight: $blackfraunces;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 113%;
            height: 0.6em;
            top: 0.8em;
            left: -0.40em;
            background-color: $softred;
            border-radius: 1em;
            opacity: 0.32;
            z-index: -1;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.containertwo {
    @media (min-width:750px) {
        display: flex;
        justify-content: center;


        .mobile {
            display: none;
        }

        .desktop {
            display: block;
        }

        .wrapper2 {
            margin: 0 auto 0em auto;

        }
    }

    .graphic-wrapper {
        color: $darkdesaturatcyan;
    }

    .photo-wrapper {
        color: $darkblue;
    }

    .wrapper1 {
        position: relative;

        .wrapper2 {
            width: 375px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto 3.5em auto;
            z-index: 1;
            text-align: center;

        }
    }

    .para {
        margin: 1.7em 1em 0 1em;
        line-height: 1.5;
        font-size: 1rem;
    }
}

.testimonials {
    @media (min-width:880px) {
        padding: 3.8em 0;



        .client-cards {
            padding-top: 2em;
        }
    }

    .heading {
        line-height: 8.6;
        text-align: center;
        letter-spacing: 0.25rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: $grayishblue;
        text-align: center;

        @media (min-width:880px) {
            font-size: 1.3rem;

        }
    }

    .client-cards {
        display: flex;
        flex-flow: row wrap;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2em;

        @media (min-width:900px) {
            column-gap: 1.4em;

        }
    }

    .client-card {
        max-width: 400px;
        text-align: center;
        line-height: 1.8;
        color: $verydarkgrayishblue;
        padding-bottom: 4em;

        @media (min-width:900px) {

            width: 300px;

        }

    }

    .client-img {
        border-radius: 100%;
        max-width: 24%;
        margin-bottom: 1.2em;

        @media(min-width: 550px) {
            width: 20%;

        }
    }

    .testimonials-p {
        margin-bottom: 1.5em;

        @media (min-width:900px) {
            font-size: 1rem;
            margin-bottom: 1.9em;

        }
    }

    .client-name {
        color: $verydarkdesaturateblue;
        font-weight: $bolddfraunces;
        font-family: $serif;

        @media (min-width:900px) {
            font-size: 1rem;

        }
    }


    .client-title {
        color: $grayishblue;
        font-size: 0.85rem;

    }

}


.gallery {
    display: flex;
    flex-wrap: wrap;

    .img-m {
        width: 50%;
        max-width: 100%;

        @media (min-width:751px) {
            display: none;
        }
    }
}

.gallery-d {

    @media (min-width: 751px) {
        display: flex;
    }

    .img-d {
        display: none;

        @media (min-width:751px) {
            display: flex;
            flex-flow: row wrap;
            width: 50%;
        }
    }
}

footer {
    text-align: center;
    background: $lightcyan;
    margin: 0 auto;

    div {
        padding: 3.5em 0 2em 0;
    }

    .footer-list {
        display: flex;
        justify-content: center;
        column-gap: 3em;
    }

    .social-list {
        display: flex;
        justify-content: center;
        column-gap: 1.4em;
        list-style: none;
        margin: 0 auto;
        line-height: 11;
    }

    ul {

        list-style: none;

        a {
            color: $darkmoderatecyan;
            text-decoration: none;

            &:hover {
                color: $white;
            }
        }
    }

    .facebook,
    .instagram,
    .twitter,
    .pinterest {
        &:hover {
            fill: $white;
        }
    }
}